* {
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}

body {
    
    background-color: black;

}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

h1 {

}

h1, h2 {
    text-align:center;
    color: #6865ff
    
}

ul {
    text-align: center;
    color: black;
}

p {
    color: white;
}

figure {
    text-align: center:
}

img {
    display: block;
    text-align: center;
    margin: 50px auto;
    width: 250px;
    height: 250px;
    border: 2px solid black;
    background-color:blueviolet
}

figcaption {
    text-align: center;
}

.contactInfo {
    color: white;
}

label {
    margin-top: 50px;
    display: block;
    text-align: center;
    width: auto;
}

input {
    display: block;
    text-align: center;
    margin: 0 auto;
}

#email, #username {
    display: block;
}

.footerText {
    color: white;
    text-align:center;
    margin: 30px;
    float: right;
}